/* General style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: #e0e0e0;
    overflow: hidden;
}

/* Style for pages */
.page {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

#page1, #page2, #page3 {
    background-color: white;
}

.content {
    text-align: center;
    max-width: 90%;
}

h1 {
    font-size: 3rem;
    color: #000000;
}

h2 {
    font-size: 1.2rem;
    color: #000000;
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button, a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 25px;
    margin: 0 10px;
    border-radius: 5px;
    color: white;
}

.app-store-button {
    background-color: #29689d;
    display: flex;
    align-items: center;
}

.google-play-button {
    background-color: #9cd9d3;
    display: flex;
    align-items: center;
}

img {
    margin-right: 10px;
    height: 20px;
}

.logo {
    margin-top: 40px;
    height: 300px;
}

.scroll-arrow-prev {
    position: absolute;
    top: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: #9cd9d3;
}

.scroll-arrow-next {
    position: absolute;
    bottom: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: #9cd9d3;
}

/* Animation for first page's bottom arrow */
#page1 .scroll-arrow-next {
    animation: moveArrow 1.5s ease-in-out infinite;
}

/* Animation to move arrow up and down */
@keyframes moveArrow {
    0%, 100% {
        transform: translate(-50%, 0); /* Initial position */
    }
    50% {
        transform: translate(-50%, 10px); /* Move arrow down 10px */
    }
}


.finish-button {
    position: absolute;
    bottom: 20px;
    background-color: #9cd9d3;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.finish-button:hover {
    background-color: #29689d;
}

/* Style for complete page images */
.full-image {
    width: 100%;
    height: auto;
    max-height: 100vh;
}

/* Style for mobile devices */
@media (max-width: 768px) {
}